////////////////////////////////////////////////////////////////////////////////////
// PARENT THEME MIXINS (ONLY AS REFERENCE IF NEEDED)
////////////////////////////////////////////////////////////////////////////////////

	@import (reference) url('../../../eichmeister/assets/css/mixins.less');

//////////////////////////////////////////////////////////////////////////////////
// RESPONSIVE DESIGN BREAKPOINTS
//////////////////////////////////////////////////////////////////////////////////

	// ALREADY SET IN PARENT THEME
	// JUST HERE COMMENTED IN SO YOU CAN HAVE A QUICK LOOK IN CASE YOU WANNA CHECK

	// @breakpoint1: 360px;
	// @breakpoint2: 480px;
	// @breakpoint3: 768px;
	// @breakpoint4: 1024px;
	// @breakpoint5: 1280px;
	// @breakpoint6: 1468px;
	// @breakpoint7: 1680px;
	// @breakpoint8: 1920px;
	// @breakpoint9: 2200px;

////////////////////////////////////////////////////////////////////////////////////
// SELF HOSTED GOOGLE FONT -> DSGVO
////////////////////////////////////////////////////////////////////////////////////


	@font1: Arial, sans-serif;
	@font2: Arial, sans-serif;

	@font-weight: 400;
	@font-weight-bold: 700;

	// RESPONSIVE FONT SIZE GENERALLY USED ACCROSS THE SITE
	.font-size-body {
		.font-size-responsive(14px, 14px, 14px, 16px, 16px, 16px, 18px, 20px);
	}

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        line-height: 1;
        text-transform: uppercase;
        .font-size-responsive(34px, 36px, 38px, 40px, 42px, 44px, 48px, 48px);
    }

	.font1 {
		font-family: @font1;
	}

	.font2 {
		font-family: @font2;
		font-weight: @font-weight
	}

////////////////////////////////////////////////////////////////////////////////////
// GENERAL SETTINGS (COLORS, FONTS, ...)
////////////////////////////////////////////////////////////////////////////////////

	@black: #000;
	@white: #FFF;
	@darkblue: #033142;

////////////////////////////////////////////////////////////////////////////////////
// PROJECT SPECIFIC ELEMENTS
////////////////////////////////////////////////////////////////////////////////////
	
    .btn {
        background-color: @darkblue;
        color: @white;
        border: 1px solid @darkblue;
        display: inline-block;
        padding: 1em 1.5em;
        outline: none;
        text-decoration: none;
        text-align: center;
        
        &:hover {
            background-color: @white;
            color: @darkblue;
            border: 1px solid @darkblue;
        }

        &.btn-outline-black {
            background-color: transparent;
            color: #000;
            border: 1px solid #000;

            &:hover {
                background: #000;
                color: #FFF;
            }
        }
    }

	// GRADIENT OVERLAY FOR BACKGROUND IMAGES
	.gradient-left-to-right {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,70b0e0+100&0.7+0,0+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(112,176,224,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(112,176,224,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(112,176,224,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#0070b0e0',GradientType=1 ); /* IE6-9 */
	}

	.content-border {
		padding-left: 20px;
		margin-left: 20px;
		border-left: 1px solid @white;
	}

	.box-shadow {
		-webkit-box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.15);
		box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.15);
	}
	h1,h2,h3,h4,h5,h6 {

	}

    .hl-1,
    .hl1 {
        .font-size-responsive(40px,40px,50px,50px,60px,60px,80px,80px);
        font-weight: @font-weight-bold;
        font-family: @font1;
    }

    .hl-2,
    .hl2 {
        .font-size-responsive(34px,34px,50px,54px,60px,60px,80px,80px);
        font-weight: @font-weight;
        font-family: @font1;
    }

    .hl-3,
    .hl3 {
        .font-size-responsive(28px,28px,34px,34px,40px,40px,60px,60px);
        font-weight: @font-weight-bold;
        font-family: @font1;
    }

    .hl-4,
    .hl4 {
        .font-size-responsive(24px,24px,28px,28px,34px,34px,40px,40px);
        font-weight: @font-weight;
        font-family: @font1;
    }

    .p, p, button {
        .font-size-responsive(14px,14px,16px,16px,18px,18px,20px,20px);
        font-weight: @font-weight;
        font-family: @font1;
        line-height: 1.4;
    }
