/*
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 300;
	  src: url('../fonts/roboto-condensed-v16-latin-300.eot');
	  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
	       url('../fonts/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/roboto-condensed-v16-latin-300.woff2') format('woff2'),
	       url('../fonts/roboto-condensed-v16-latin-300.woff') format('woff'), 
	       url('../fonts/roboto-condensed-v16-latin-300.ttf') format('truetype'), 
	       url('../fonts/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg');
	}
	*/
@import url(icon-font-custom.css);
.font-size-body {
  font-size: 14px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  .font-size-body {
    font-size: 14px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .font-size-body {
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .font-size-body {
    font-size: 14px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .font-size-body {
    font-size: 16px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  .font-size-body {
    font-size: 16px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  .font-size-body {
    font-size: 16px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  .font-size-body {
    font-size: 18px;
  }
}
@media all and (min-width: 1920px) {
  .font-size-body {
    font-size: 18px;
  }
}
@media all and (min-width: 2200px) {
  .font-size-body {
    font-size: 20px;
  }
}
.gradient-left-to-right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,70b0e0+100&0.7+0,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(112, 176, 224, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(112, 176, 224, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(112, 176, 224, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#0070b0e0', GradientType=1);
  /* IE6-9 */
}
.hl-big {
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  .hl-big {
    font-size: 30px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .hl-big {
    font-size: 30px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hl-big {
    font-size: 40px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .hl-big {
    font-size: 40px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  .hl-big {
    font-size: 50px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  .hl-big {
    font-size: 70px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  .hl-big {
    font-size: 80px;
  }
}
@media all and (min-width: 1920px) {
  .hl-big {
    font-size: 80px;
  }
}
@media all and (min-width: 2200px) {
  .hl-big {
    font-size: 80px;
  }
}
.hl-big.hl-big-light {
  font-weight: 300;
}
.hl-big p {
  margin-top: 15px;
}
.cta {
  font-weight: 400;
  padding: 10px 25px;
  font-size: 14px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  .cta {
    font-size: 14px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .cta {
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .cta {
    font-size: 16px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .cta {
    font-size: 16px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  .cta {
    font-size: 18px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  .cta {
    font-size: 20px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  .cta {
    font-size: 22px;
  }
}
@media all and (min-width: 1920px) {
  .cta {
    font-size: 22px;
  }
}
@media all and (min-width: 2200px) {
  .cta {
    font-size: 24px;
  }
}
.cta.cta-outline-white {
  background: transparent;
  border: 2px solid #FFF;
  color: #FFF;
}
.cta.cta-outline-white:hover {
  background: #FFF;
  color: #000;
}
:focus {
  outline: none;
}
body {
  background: #FFF;
  letter-spacing: 0.05em;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  font-size: 14px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  body {
    font-size: 16px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  body {
    font-size: 16px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  body {
    font-size: 18px;
  }
}
@media all and (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}
@media all and (min-width: 2200px) {
  body {
    font-size: 18px;
  }
}
strong,
b {
  font-weight: 700;
}
a {
  color: #000;
  text-decoration: none;
  outline: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
}
h1,
h2 {
  font-size: 34px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  h1,
  h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  h1,
  h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 38px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  h1,
  h2 {
    font-size: 40px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  h1,
  h2 {
    font-size: 42px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  h1,
  h2 {
    font-size: 44px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  h1,
  h2 {
    font-size: 48px;
  }
}
@media all and (min-width: 1920px) {
  h1,
  h2 {
    font-size: 48px;
  }
}
@media all and (min-width: 2200px) {
  h1,
  h2 {
    font-size: 48px;
  }
}
h3,
h4,
h5,
h6 {
  font-size: 22px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 26px;
  }
}
@media all and (min-width: 1920px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 26px;
  }
}
@media all and (min-width: 2200px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 26px;
  }
}
.em-social-media-channels a {
  background: #000;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid #000;
}
.em-social-media-channels a:hover {
  background: #FFF;
  color: #000;
}
