section#intro {
  position: relative;
}
section#intro .inner-full .inner-wrapper {
  top: 60%;
}
section#intro .hero-teaser {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
section#intro .hero-teaser img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
section#intro .hero-teaser .hero-teaser-link {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  font-size: 14px;
}
@media all and (min-width: 360px) and (max-width: 480px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 14px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 14px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 16px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1468px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 16px;
  }
}
@media all and (min-width: 1468px) and (max-width: 1680px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 16px;
  }
}
@media all and (min-width: 1680px) and (max-width: 1920px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 18px;
  }
}
@media all and (min-width: 1920px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 18px;
  }
}
@media all and (min-width: 2200px) {
  section#intro .hero-teaser .hero-teaser-link {
    font-size: 20px;
  }
}
