@import (reference) url('mixins.less');

////////////////////////////////////////////////////////////////////////////////////
// HEADER SETTINGS
////////////////////////////////////////////////////////////////////////////////////
	
	body.scrolled {
		.em-shopping-cart-white,
		.logo-homepage {
			display: none;
		}
	}

	body:not(.scrolled) {
		header#main-header {
			box-shadow: none;
			background-color: transparent;


			a {
				color: #fff;

				&:hover {
					color: #fff;
					border-bottom-color: #fff;
				}
			}

			.logo-homepage {
				img {
					height: 60px;
					top: -5px;
				}
			}

			.logo-homepage-scrolled {
				display: none;
			}

			.em-shopping-cart {
				display: none;
			}


	        .c-hamburger:not(.is-active) {
	            span {
	                background-color: #fff;

	                &:before,
	                &:after {
	                    background-color: #fff;
	                }
	            }
	        }

			.em-shopping-cart-white {
				height: 20px;
				width: 30px;
				background-image: url(../img/cart-1.svg);
				display: block;
				position: absolute;
				top: 12px;
				left: 0;
				background-size: contain;
				background-repeat: no-repeat;

				.cart-item-count {
					background: #fff;
					color: #033142;
				}
			}

			nav#main-nav {
				ul {
					& > li {
						a {
							color: #fff;

							&:hover {
								color: #fff;
								border-bottom-color: #fff;
							}
						}
					}
				}
			}
		}
	}

////////////////////////////////////////////////////////////////////////////////////
// INTRO SECTION
////////////////////////////////////////////////////////////////////////////////////

	section#intro {
		position: relative;
		
		.em-hero-simple {
			&:after {
				@media all and (min-width: @breakpoint4_mf) {
					height: 300px;
				}

				@media all and (min-width: @breakpoint5_mf) {
					height: 400px;
				}
			}
		}

        .inner-full {
            padding-bottom: 120px;
        }

		.inner-wrapper {
			transform: translate(0);
			top: 50px;

			.cta {
				background-color: #EF9D3C;
				color: #FFF;
				border: 1px solid #EF9D3C;
				display: inline-block;
				padding: 1em 3em;
				outline: none;
				text-decoration: none;
				text-align: center;
			    z-index: 0;
			    transition: all ease-in-out 0.5s;
			    overflow: hidden;
			    position: relative;
			    border: 0;
			    // font-weight: bold;
			    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

			    &:hover {
			    	transform: scale(1.1);
			    }
			}
		}

		.hero-teaser {

			.hero-teaser-link {
				display: none;
			}

			@media all and (min-width: @breakpoint4_mf) {
				display: block;
				position: relative;
				max-width: 1200px;
				margin: 0 auto;
				height: 400px;

				img {
					display: block;
					width: auto;
					height: 400px;
					margin: 0 auto;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					position: absolute;
				}

				.hero-teaser-link {
					position: absolute;
					display: block;
					bottom: 0;
					right: 20px;
        			.font-size-responsive(20px,24px,28px,32px,36px,34px,40px,40px);
				}
			}

			@media all and (min-width: @breakpoint5_mf) {
				height: 600px;

				img {
					height: 600px;
				}
			}
		}
	}

////////////////////////////////////////////////////////////////////////////////////
// VIDEO
////////////////////////////////////////////////////////////////////////////////////

#video-teaser {
	.video-container { 
		position: relative; 
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	} 

	.video-container iframe,
	.video-container object,
	.video-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

////////////////////////////////////////////////////////////////////////////////////
// TESTIMONIALS
////////////////////////////////////////////////////////////////////////////////////

#testimonials {
	position: relative;
	
	h2 {
		position: relative;
		margin-bottom: 60px;
	}
	
	p {
		margin-bottom: 0;

		&.sub {
			margin-bottom: 20px;
		}
	}
	
	.owl-item {
		.slide {
			.em-testimonial-tile {
				display: block;
			}
		}
	}
	
	.owl-dot {
		border: 1px solid @darkblue;

		&.active {
			background: @darkblue;
		}
	}
	
	.em-testimonial-tile {
		display: none;
		text-align: center;
		
		figure {
			width: 100%;
			text-align: center;
			
			img {
				display: inline-block;
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
		
		.name-position {
			margin: 5px 0;
			
			span {
//				margin-top: 25px;
//				margin-bottom: 5px;
				font-size: 20px;
				.font1;
				font-weight: 600;
				color: @darkblue;
				text-transform: none;
				
				&.name {}
				&.position {
					font-size: 18px;
					font-weight: 400;
					color: fade(@darkblue, 50%);
				}
			}
		}
		
		.company {
			font-size: 20px;
			.font2;
			font-weight: 300;
			color: @darkblue;
		}

		.statement {
			margin-top: 10px;
			
			@media screen and (min-width: @breakpoint2) {
				padding: 0 15%;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////
// TEASER SECTION
////////////////////////////////////////////////////////////////////////////////////

	#teaser1 {
		
		.em-content-repeater {
			padding-top: 0;
		}
	}

////////////////////////////////////////////////////////////////////////////////////
// PRODUCT SECTION
////////////////////////////////////////////////////////////////////////////////////

	#products {
		h2 {
			margin-bottom: 50px;
		}

		.wrapper-1200 {
			&:after,
			&:before {
				display: table;
				content: "";
				clear: both;
			}

			& > .btn-line-left {
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
	}

////////////////////////////////////////////////////////////////////////////////////
// NEWSLETTER 
////////////////////////////////////////////////////////////////////////////////////

#newsletter {
	position: relative;
	
	p {
		margin-bottom: 0;
		
		&.sub {
			margin-bottom: 20px;
		}
	}
	
	h2 {
		margin-bottom: 20px;
		
//		@media all and (max-width: @breakpoint3) {
//			margin-bottom: 30px;
//		}
		
		b {
			color: @blue;
		}
	}

	.wpcf7-form-control-wrap.your-email {
		flex: 0 0 100%;
		max-width: 100%;
	}

	input[type="email"] {
		border: 1px solid #dedede;
		padding: 10px 10px;
		max-width: 100%;
		border-radius: 0;
		background: #FFF;
		box-shadow: none !important;
		-webkit-appearance: none;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		outline: 0;
		line-height: 1;
		height: auto;
	}

	input[type="submit"] {
		.btn;
		.btn.btn-orange;
//		width: 100%;
		font-size: 1.2em;
		font-weight: 700;
		margin: 0 auto;
		display: block;
	}

	.wpcf7-not-valid-tip {
		margin-top: 5px;
		font-size: .8rem;
	}

	div.wpcf7-validation-errors {
		margin: 0;
		background: #ed745b;
		border: 0;
		color: #FFF;
		padding: .9em 1em;
	}

	.wpcf7-form.sent {

		p {
			display: none;
		}

		.wpcf7-mail-sent-ok {
			background: #689340;
			color: #FFF;
			padding: .9em 1em;
		}
	}

	.privacy-policy-wrapper {
		position: relative;
		font-size: .85em;
		margin: 25px 0;

		@media all and (min-width: @breakpoint3_mf) {
			margin: 25px 0 10px 0;
		}

		.col_1,
		.col_11 {
			border-left: 0;
		}

		.col_1 {
			max-width: 35px;

			span.wpcf7-list-item {
				margin-left: 0;

			}
		}

		@media all and (max-width: 768px) {

			.col_1 {
				max-width: 35px;
			}

			.col_11 {
				max-width: 80%;
			}
		}

		a {
			color: @blue;
		}

		.wpcf7-form-control-wrap.privacy-policy {
			position: initial;

			.wpcf7-not-valid-tip {
				position: absolute;
				bottom: -28px;
				font-size: .8rem;
				width: 200px;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////
// INSTAGRAM SECTION
////////////////////////////////////////////////////////////////////////////////////

	#instagram {
		position: relative;
		background-image: url(../img/bali-background-4.jpg);
		background-size: cover;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 200px;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50px;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
		}
	}

////////////////////////////////////////////////////////////////////////////////////
// NEWSLETTER OVERLAY
////////////////////////////////////////////////////////////////////////////////////

	#mybali-newsletter-overlay {
		background: rgba(49, 183, 188, .8);

		&:before {
			content: "";
		    position: absolute;
		    opacity: 1;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-image: url(../img/gutter-endless.svg);
		    background-size: 400px 400px;
		    background-repeat: repeat;
		}

		.box {
			overflow: hidden;
		}

		h4 {
			color: @blue;
		}

		p {
			margin-bottom: 0;
		}

		.wpcf7-form-control-wrap.your-email {
			flex: 0 0 100%;
			max-width: 100%;
		}

		input[type="email"] {
			border: 1px solid #dedede;
		    padding: 10px 10px;
		    max-width: 100%;
		    border-radius: 0;
		    background: #FFF;
		    box-shadow: none !important;
		    -webkit-appearance: none;
		    box-sizing: border-box;
		    width: 100%;
		    margin: 0;
		    outline: 0;
		    line-height: 1;
		    height: auto;
		}

		input[type="submit"] {
			.btn;
			.btn.btn-orange;
			width: 100%;
			font-size: 1.2em;
			font-weight: 700;
		}

		.wpcf7-not-valid-tip {
			margin-top: 5px;
			font-size: .8rem;
		}

		div.wpcf7-validation-errors {
			margin: 0;
			background: #ed745b;
			border: 0;
			color: #FFF;
			padding: .9em 1em;
		}

		.wpcf7-form.sent {

			p {
				display: none;
			}

			.wpcf7-mail-sent-ok {
				background: #689340;
				color: #FFF;
				padding: .9em 1em;
			}
		}

		/*
		.ajax-loader {
			display: none;

			&.is-active {
				display: block;
			}
		}
		*/

		.privacy-policy-wrapper {
			position: relative;
			font-size: .85em;
			margin: 25px 0;

			@media all and (min-width: @breakpoint3_mf) {
				margin: 25px 0 10px 0;
			}

			.col_1,
			.col_11 {
				border-left: 0;
			}

			.col_1 {
				max-width: 35px;

				span.wpcf7-list-item {
					margin-left: 0;

				}
			}

			@media all and (max-width: 768px) {

				.col_1 {
					max-width: 35px;
				}

				.col_11 {
					max-width: 80%;
				}
			}

			a {
				color: @blue;
			}

			.wpcf7-form-control-wrap.privacy-policy {
				position: initial;

				.wpcf7-not-valid-tip {
					position: absolute;
					bottom: -28px;
					font-size: .8rem;
					width: 200px;
				}
			}
		}

		.col_3 {
			@media all and (max-width: @breakpoint3_mf) {
				display: none;
			}

			img {

				@media all and (max-width: @breakpoint3_mf) {
					margin: 0 auto;
					height: 100px;
					display: none;
				}
			}
		}
	}