@import (reference) url('mixins.less');

////////////////////////////////////////////////////////////////////////////////////
// ITNRO SECTION
////////////////////////////////////////////////////////////////////////////////////

	section#intro {
		position: relative;


		.inner-full {
			.inner-wrapper {
				top: 60%;
			}
		}

		.hero-teaser {
			position: relative;
			max-width: 800px;
			margin: 0 auto;

			img {
				display: block;
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
			.hero-teaser-link {
				position: absolute;
				display: block;
				bottom: 0;
				right: 0;
				.font-size-responsive(14px, 14px, 14px, 16px, 16px, 16px, 18px, 20px);
			}
		}
	}
